{% include header  %}
<div class="content-column no-columns container">

	<div class="content-top"></div>

	<div class="central-column">
		<div class="password-recovery box">
			<h1 class="title">Восстановление пароля</h1>
			<p class="registration__sms subtitle-text">Введите адрес электронной почты от своего профиля на
				                            платформе</p>

			<div class="registration-code__container">

				<div class="password-recovery__input">
					<div class="input">
						<input id="input_email" type="email">
					</div>
				</div>

				<div class="proceed__button">
					<div class="button-notactive" id="send_recovery_form">Получить ссылку</div>
				</div>

			</div>

		</div>
	</div>

	<div class="content-bottom"></div>
</div>
<script>
var send = false;
$(document).ready(function () {
  $('#input_email').focusout(function(){

     var email =  $(this).val(); 

     if( email.length > 0 ) {
        $('#send_recovery_form').removeClass('button-notactive').addClass('button-active');
        send = true;
     } else {
        $('#send_recovery_form').removeClass('button-active').addClass('button-notactive');
        send = false;
     }
  });
});
$('#send_recovery_form').on('click', function(){
  $('.input_error').remove();
  $('input').removeClass('error');
  if(send) {
    $.post(
       "/recovery",
       {
         email: $('#input_email').val(),
       },
       function(response){
            if(response.data.error) {
              $(response.data.message[0]).after('<div class="input_error">' + response.data.message[1] + '</div>').addClass('error');
           }
           if(response.data.redirect) {
             location = response.data.redirect;
           } 
       }
    );
  } else {
    $('#input_email').after('<div class="input_error">Укажите email!</div>').addClass('error');
  }
});
</script>
{% include footer  %}
