{% include header  %}
<div class="content-column no-columns container">

	<div class="content-top"></div>

	<div class="central-column">
		<div class="registration box">
			<h1 class="title">Регистрация</h1>
			<p class="registration__end subtitle-text">Регистрация на платформе успешно завершена. Вам доступно 5 бесплатных рассчетов.</p>
			<p class="registration__end_link">
				<a href="/calculation">Рассчитать стоимость перевозки</a>
			</p>

		</div>
	</div>

	<div class="content-bottom"></div>
</div>
{% include footer  %}
