@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/file/Exo2-Bold.eot');
    src: url('../fonts/file/Exo2-Bold.eot') format('embedded-opentype'),
        url('../fonts/file/Exo2-Bold.woff2') format('woff2'),
        url('../fonts/file/Exo2-Bold.woff') format('woff'),
        url('../fonts/file/Exo2-Bold.ttf') format('truetype'),
        url('../fonts/file/Exo2-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/file/Raleway-Regular.eot');
    src: url('../fonts/file/Raleway-Regular.eot') format('embedded-opentype'),
        url('../fonts/file/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/file/Raleway-Regular.woff') format('woff'),
        url('../fonts/file/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/file/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/file/Raleway-SemiBold.eot');
    src: url('../fonts/file/Raleway-SemiBold.eot') format('embedded-opentype'),
        url('../fonts/file/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/file/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/file/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/file/Raleway-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/file/Raleway-Medium.eot');
    src: url('../fonts/file/Raleway-Medium.eot') format('embedded-opentype'),
        url('../fonts/file/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/file/Raleway-Medium.woff') format('woff'),
        url('../fonts/file/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/file/Raleway-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/file/Raleway-Bold.eot');
    src: url('../fonts/file/Raleway-Bold.eot') format('embedded-opentype'),
        url('../fonts/file/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/file/Raleway-Bold.woff') format('woff'),
        url('../fonts/file/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/file/Raleway-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/file/Raleway-Light.eot');
    src: url('../fonts/file/Raleway-Light.eot') format('embedded-opentype'),
        url('../fonts/file/Raleway-Light.woff2') format('woff2'),
        url('../fonts/file/Raleway-Light.woff') format('woff'),
        url('../fonts/file/Raleway-Light.ttf') format('truetype'),
        url('../fonts/file/Raleway-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/file/Raleway-ExtraBold.eot');
    src: url('../fonts/file/Raleway-ExtraBold.eot') format('embedded-opentype'),
        url('../fonts/file/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/file/Raleway-ExtraBold.woff') format('woff'),
        url('../fonts/file/Raleway-ExtraBold.ttf') format('truetype'),
        url('../fonts/file/Raleway-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}