</div>
<footer class="footer">
	<div class="footer-wrapper container">
		<div class="footer__logo">
			<a href="#"></a>
		</div>
		<div class="footer-menu">
			<div>
				<ul>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div>
				<ul>
					<li><a href="#">Грузовладельцу</a></li>
					<li><a href="#">Оператору ПС</a></li>
					<li><a href="#">Экспедитору</a></li>
				</ul>
			</div>
			<div>
				<p>Республика Казахстан,
					<span>г. Алматы,</span>
				</p>
				<p>ул. Коперника 124 Г,
					<span>2 этаж</span>
				</p>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2021, YTM Corp Theme. Powered by Nvision.</p>
			<p>All right reserved.</p>
		</div>
		<div class="footer-subscribe">
			<p>Подпишитесь на рассылку<span>,</span>
			</p>
			<p>чтобы получать актуальные новости сервиса</p>
			<p>актуальных новостей сервиса</p>
			<div class="footer-subscribe__input"><input type="email" name="subscribe-email" id="subscribe-email" placeholder="Введите ваш e-mail"></div>
			<div class="footer-subscribe__button">Подписаться</div>
		</div>
	</div>
</footer></div></body></html>
