
<p><a href="/register"> Регистрация</a> <br> <b>Примечание:</b> СМС сервис настроен, но отключен. Чтобы пройти регистрацию - введите код: 123456 </p>
<p><a href="/login"> Вход</a></p> 
<p><a href="/recovery"> Восстановление пароля</a></p>
<p><a href="/calculation"> Расчёт стоимости со стороны клиента</a></p>
<p><a href="/calculation/results"> Список расчётов у клиента</a></p>


<br>
<h2>Админка:</h2>


<p><a href="/admin/not-verified-users">Неверифицированные пользователи</a></p>
<p><a href="/admin/countries">Добавление страны</a> <br> <b>Примечание:</b>При указании телефонного кода также устанавливается маска для поля телефона при регистрации пользователя. Поэтому в это поле формат кода такой: +375 (99) 999-99-99, где в начале вы указываете код страны а все остальные цифры прописываете девятками. Можно добавлять пробелы,тире и скобки в качестве разделителей</p> 
<p><a href="/admin/calculations">Список расчётов клиентов</a></p>
<p><a href="/admin/import">Импорт матриц</a></p>
<p><a href="/admin/currencies">Курс валют</a></p>
<p><a href="/admin/wagon-list">Список вагонов</a></p>
<p><a href="/admin/create-wagon">Добавление вагона</a></p>
<p><a href="/admin/coefficients">ЖД тариф</a></p>